<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<style>
	body{
		font-family: 'Press start 2p',cursive;
		text-align: center;
	}
</style>
<title>Please Login</title>
</head>
<body>
	<h2>Please Login</h2>
	<!-- ゲストアカウント -->
	<form th:action="@{/authentication}" method="post" th:object="${usersForm}">
		<input type="hidden" th:field="*{username}">
		<input type="hidden" th:field="*{password}">
		<p>
			ゲストアカウントで
			<button type="submit">ログイン</button>
		</p>
	</form>
</body>
</html>